/* Basisindstillinger: Nulstiller margin og sætter box-sizing for alle elementer */
* {
    margin: 0px;
    box-sizing: border-box;
}

/* Body stilarter: Definerer baggrund, størrelse og overgangseffekter for hele siden */
body {
    background-color: #FFFBF9; /* Min bagrundsfarve*/
    margin: 0;
    height: 100vh;
    transition: transform 0.5s ease;
}

/* Header stilarter: Indstiller bredden og padding for header-elementet */
header {
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 100vh; 
    margin: 0; 
    transition: transform 0.5s ease;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Sikrer at billedet er bag alt andet indhold i containeren */
}

@media only screen and (max-width: 768px) { 
    .background-image {
        object-position: top 0 left -90px; 
        object-fit: cover;
        
    }
}

header .logo {
    height: 100px;
    width:auto; /* Justér højden efter behov */
/* Afstand fra toppen */
    }

.top-nav {
    margin-right: 5%;

}
/* Navigation container: Styler hvordan navigationslinksene vises, uden listepunkter og justeret til højre */
.top-nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

/* Så de ikke hænger sammen, men er adskilt, og hvor meget mellemrum der er imellem hver */
.top-nav li {
    margin-left: 60px;
}

/* Navigation links: Definerer udseendet og positioneringen af navigationslinks */
.top-nav a, .side-nav a {
    text-decoration: none;
    color: #1400AE;
    font-size: 22px;
    position: relative;
}

/* Hover-effekt for navigation links: Skaber en understregningsbar der vises når linket hoveres over */
.top-nav a::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left:0;
    width: 0;
    height: 5px;
    background-color: #FFFBF9;
    transition: width 0.3s ease-in-out;
}

/* Farveændring ved hover: Holder linkets farve konsekvent ved hover */
.top-nav a:hover {
    color: #1400AE;
}

/* Glidende understregningseffekt ved hover */
.top-nav a:hover::after {
    width: 100%;
}

.text-content { /*min titel "amanda cameo"*/
    font-size: 50px;
    top: 25%; 
    width: 88%; 
    margin-left: 12%;
}

.text-content h1 {
    color: #1400AE; 
}

.text-content h2 {
    color: #FFFBF9;
    font-weight: 350;
}

.portfolio h1 {
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 40px;
    width: 800px;
    color:#1400AE;
    font-size: 35px;
    font-weight: 700;
}


.portfolio p {
    color: #1400AE;
    font-weight: 200;
    font-size: 25px;
    margin-left: 0;
    width: 600px;
}

.portfolio {
    text-align: right;
    width: 00px;
    margin-left: auto;
    margin-right: 33px;
    margin-top: 70px;
    border-right: 1px solid #1400AE; /*stregen ved højre side*/
    padding-right: 10px;
    padding-top: 1px;
}

.header-container {
    display:flex;
    flex-direction: row;
   justify-content: space-between; 
    height: 75px;
    margin-top:2.5% ;
    margin-left: 2.5%;
    margin-bottom: 5%;
    width: 90%;
}


@media only screen and (max-width: 768px) { 

    .top-nav a {
        font-size: 15px !important;
    }

    .top-nav li {
        margin-left:20px;
    }

    .top-nav ul {
        padding-left:0;
    }

   .burger-menu{
    display:block;
   }

   .logo {
    height:50px !important;
    margin-top: 10px;
    margin-left: 10px;
   }
   
   .header-container{
    align-items: center;
    margin-bottom: 25%;
   }

   .text-content h1 {
    font-size: 40px;
   }

   .text-content h2 {
    font-size: 25px;
   }

   .portfolio {
    text-align: right;
    width: 400px;
    margin-left: auto;
    margin-right: 33px;
    margin-top: 70px;
    border-right: 1px solid #1400AE; /*stregen ved højre side*/
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom:15px;
    }
    .portfolio h1 {
        margin-left: auto;
        margin-right: 0;
        margin-bottom: 7px;
        width: 200px;
        color: #FFFBF9;
        font-size: 25px;
        font-weight: 700;
    }

    .portfolio p {
        color: #1400AE;
        margin-right:0;
        margin-left:auto;
        font-weight: 300;
        font-size: 15px;
        width: 350px;
    }
}


/* Skrifttype stilarter: Sætter fonten og vægten for elementer med klassen .readex-pro */
.readex-pro {
    font-family: "Readex Pro", sans-serif;
    font-weight: 300;
}

.montserrat {
    font-family: "Montserrat";
    font-weight: bold;
}

